.retrievePassword {
  text-align: center;
}
.retrievePassword .main {
  min-width: 320px;
  margin: 0 auto;
  margin-top: 20%;
  width: 80%;
  padding: 0 10%;
  box-sizing: border-box;
  border-radius: 14px;
}
.retrievePassword .main .header img {
  height: 85px;
}
.retrievePassword .main input {
  font-size: 12px;
  height: 40px;
}
.retrievePassword .main .user,
.retrievePassword .main .phone,
.retrievePassword .main .num {
  margin-top: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding-left: 20px;
  width: 100%;
}
.retrievePassword .main .validate {
  margin-top: 20px;
  width: 100%;
}
.retrievePassword .main .validate .code {
  width: 55%;
  border: 1px solid #ccc;
  border-radius: 18px;
  padding-left: 20px;
}
.retrievePassword .main .validate .getcode {
  height: 40px;
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  width: 33%;
  border: 1px solid #6692ff;
  color: #6692ff;
  border-radius: 20px;
}
.retrievePassword .main .validate .getcode::-webkit-input-placeholder {
  color: #6692ff;
}
.retrievePassword .main .register-btn {
  background-color: #6692ff;
  margin: 20px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 100%;
  color: #fff;
}
.retrievePassword .login {
  margin: 20px 0;
  color: #ccc;
}
.retrievePassword .login a {
  color: #6692ff;
}
.retrievePassword .login a span {
  font-family: simsun;
  margin-left: 4px;
}
