.set {
  background-color: #f0f0f0;
  height: 100%;
  overflow-y: auto;
}
.set .van-icon,
.set .van-nav-bar__text {
  color: #fff!important;
  font-size: 16px;
}
.set .van-cell__title {
  color: #898989;
}
.set .main {
  position: relative;
  background: url('../images/banner-3.png') center no-repeat;
  background-size: cover;
  height: 4.4rem;
}
.set .main .header {
  background-color: rgba(0, 0, 0, 0);
}
.set .main .figure {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -46%);
}
.set .main .figure img {
  display: block;
  width: 1.88rem;
  border-radius: 50%;
}
.set .main .figure span {
  color: #fff;
  font-size: 0.32rem;
}
.set .van-cell-group {
  position: relative;
}
.set .van-cell-group .van-cell {
  margin: 0.1rem 0;
  height: 1.2rem;
  padding: 0.4rem!important;
  padding-left: 1.5rem!important;
}
.set .van-cell-group .van-icon-arrow {
  color: #dadada!important;
}
.set .van-cell-group .iconfont {
  position: absolute;
  color: #6796ff!important;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  font-size: 0.56rem;
}
.set .van-cell-group .icon-mima {
  font-size: 0.5rem;
}
.set .van-cell-group .icon-xiangji {
  font-size: 0.6rem;
}
